.section-step-31 {
  position: relative;
  background: url("../../assets/Animation3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 543px;
  width: 360px;
}
.car-image-3 {
  position: absolute;
  top: 350px;
  height: 60px;
  width: 70px;
  animation-name: identifier;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.container {
  height: 500px;
  width: 100%;
  margin-top: -59px;
  padding: 15px 10px;
  background-image: linear-gradient(#d8ea72, #eaf6aa);
}
