* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 360px;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(218, 214, 214);
}
.blur {
  filter: blur(1.5px); /* Adjust the amount of blur as needed */
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-icon {
  height: 35px;
  width: 35px;
  margin: 10px;
}

@keyframes identifier {
  0%,
  100% {
    transform: translateX(150px);
  }
  50% {
    transform: translateX(350px);
  }
  50.1% {
    transform: translateX(0px);
  }
}
