* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 360px;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(218, 214, 214);
}
.blur {
  filter: blur(1.5px); /* Adjust the amount of blur as needed */
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-icon {
  height: 35px;
  width: 35px;
  margin: 10px;
}
.section {
  position: absolute;
  top: 10vh;
  height: 90vh;
  overflow: hidden;
}
.section-heading {
  position: absolute;
  top: 10px;
  padding: 10px;
  line-height: 30px;
}
.section-heading h2 {
  font-size: 24px;
  color: rgba(29, 59, 122, 1);
}

@keyframes identifier {
  0%,
  100% {
    transform: translateX(150px);
  }
  50% {
    transform: translateX(350px);
  }
  50.1% {
    transform: translateX(0px);
  }
}
.step-heading {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.step-heading h3 {
  width: 277px;
  size: 20px;
}
.pagination {
  background-color: black;
  color: white;
  padding: 0px 10px;
  width: 40px;
  height: 25px;
  border-radius: 20px;
}
.section-fetching {
  position: absolute;
  top: 25vh;
  height: 75vh;
  overflow: hidden;
}
